
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/SiteLayout.cshtml";
}
@model List<YuvamNerede.Model.Models.ViewModels.AnimalVM>
<div id="fh5co-board" data-columns>
   
    @{
        foreach (var item in Model)
        {
            <div class="item">
                <div class="animate-box">
                    <a href="/SiteAnimal/Index/@item.ID" class="fh5co-board-img"><img src="~/Areas/Admin/Content/Site/images/blogpost/@item.Img" alt="@item.Name"></a>
                    <div class="fh5co-desc">@Html.Raw(item.Description)</div>
                </div>
            </div>
        }
    }
   
</div>


