
@{
    ViewBag.Title = "AddAnimal";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<link href="~/Areas/Admin/Content/css/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/custom/deleteRecordTable.js"></script>
<!-- Content Header (Page header) -->
@model YuvamNerede.Web.Models.SiteDropdownModel.AnimalSiteVM

<section class="content-header">
    <h1>
        Animal Ekleme İşlemi
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary">
                @Html.Partial("/Areas/Admin/Views/Shared/Partial/FormMessagesPart.cshtml")
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
                <div class="box box-primary">

                    @using (Html.BeginForm("AddAnimal", "Animal", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.Partial("Partial/AnimalForm") }
                </div>
    </div>
        </div>
    </div>
</section>








